services:
  backend:
    build:
      context: ./backend
    container_name: nest_api
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build:
      context: ./frontend
    container_name: next_web
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: true
      WATCHPACK_POLLING: true
    depends_on:
      - backend
volumes:
  data: # กำหนดชื่อ volume ที่ต้องการจะสร้าง
    driver: local